<div class="row" id="row'+i+'">
    <div class="col-md-3">
        <div class="form-group"> <label for="formula-name">Sub Ingredient Name :</label>{{-- Data from backend --}}
            <select class="form-control" id="formula-name">
                <option>Rana</option>
                <option>Zeeshan</option>
            </select></div>
    </div>
    <div class="col-md-2">
        <div class="form-group"><label for="min-formula">Min :</label><input type="text" class="form-control" id="min-formula"
                placeholder="Min %"></div>
    </div>
    <div class="col-md-2">
        <div class="form-group"><label for="max-formula">Max :</label><input type="text" class="form-control" id="max-formula"
                placeholder="Max %"></div>
    </div>
    <div class="col-md-3">
        <div class="form-group"><label for="option-Select">Phase Name</label> <select class="form-control" id="phase-name">
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
                <option>F</option>
                <option>G</option>
                <option>H</option>
                <option>I</option>
                <option>J</option>
                <option>K</option>
                <option>L</option>
                <option>M</option>
                <option>N</option>
                <option>O</option>
                <option>P</option>
                <option>Q</option>
                <option>R</option>
                <option>S</option>
                <option>T</option>
                <option>U</option>
                <option>V</option>
                <option>X</option>
                <option>Y</option>
                <option>Z</option>
            </select></div>
    </div>
    <div class="col-md-1" style="padding-top : 30px"><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></div>
</div>